@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

/* LINK ACTIVE */
a.active{
    color: rgb(255, 255, 255);
    border-bottom: #ff7f00 solid 1px;
}

/* OFFCANVAS SIGN IN */
.offcanvas{
    height: 0;
    overflow: hidden;
    transition: height .5s ease-out;
}
.offcanvas.show{
    height: 100vh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}


/* FLIP EFFECT */
.flip-card {
    background-color: transparent;
    height: 80px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

  }
  .flip-card.animated{
    pointer-events: none;
  }
  .flip-card.animated .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;


    font-weight: 600;
    justify-content: center;
    align-items: center;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    border: 2px solid white;
    color: white
  }
  
  /* Style the back side */
  .flip-card-back {
    color: #ff7f00;
    background-color: white;
    transform: rotateY(180deg);
  }